.contain_big_cart_image{
    width: 430px;
    height: 600px;
    max-width: 556px;
    width: 430px;
  background-color: #C2EFD4;
}
.contain_small_cart_image{
    width: 318px;
    height: 378px;
    max-width: 318px;
  background-color: #C2EFD4;
}
.big_cart{
    width: 430px;
    height: 655px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small_cart{
    width: 318px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 h3{
    margin-top: 30px;
    width: 313px;
    height: 33px;
    text-align: center;
}
.contain_price{
    width: 200px;
    height: 33px;
    text-align: center;
    margin-top: 20px;
}
.price,.contain_icon{  
color: #454545;
font-family: Poppins;
font-size: 22px;
font-weight: 500;
}
.price{
    margin-right: 10px; 
    max-width: 75px;
    max-height: 33px;
}
.contain_icon{
    margin-left: 20px;
    max-width: 75px;
    max-height: 33px;
   
}
.etoile_icon{
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
   
}

